/* Conteneur principal */
.form-container {
    display: flex;
    justify-content: space-between; /* Espace égal entre les deux sections */
    align-items: center; /* Centre verticalement les éléments */
    max-width: 50%;
    gap: 100px; /* Espace entre les sections gauche et droite */
    background-color: transparent; /* Pas de fond */
    padding: 0;
    position: absolute; /* Pour permettre un positionnement exact */
    z-index: 900;
    top: 28%;
    left:25%;
    
}

/* Section de formulaire */
.form-section {
    flex: 1;
    color: white; /* Texte blanc pour contraster avec le fond */
    margin-top: -100px;
}

/* Titres des sections */
.form-section h2 {
    text-align: left;
    margin-bottom: 10px;
    color: #cb4b31; /* Rouge sombre */
    font-size: 1.5em;
}

/* Labels des champs */
.form-section label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

/* Champs des formulaires */
.form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none; /* Pas de cadre autour des champs */
    border-bottom: 2px solid #cb4b31; /* Ligne rouge uniquement en bas */
    background-color: transparent; /* Fond totalement transparent */
    color: white; /* Texte blanc */
    font-size: 1em;
    outline: none; /* Supprime le contour bleu au focus */
    transition: border-color 0.3s ease;

}

/* Focus sur les champs */
.form-section input:focus {
    border-bottom: 2px solid #ffd700; /* Ligne dorée lorsqu'on tape dans le champ */
}

/* Placeholder */
.form-section input::placeholder {
    color: #bbb; /* Placeholder légèrement grisé */
    font-style: italic;
    margin-bottom: 30px;
}

/* Boutons */
.form-section button {
    width: 100%;
    padding: 10px;
    background-color: #8a0605; /* Rouge théâtre */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form-section button:hover {
    background-color: #cb4b31; /* Rouge plus clair au survol */
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        flex-direction: column; /* Passer en colonne sur petits écrans */
        gap: 30px;
        margin-top: 80px;
    }
    
    .form-section h2 {
        text-align: center; /* Centrer les titres sur mobile */
        margin-top: -150px;
    }
    #inscription{
        margin-top: 120px;
    }
    .form-section {
        margin-bottom: 20px;
        z-index: -3;
    }

}
